
/* Links */

a {
  color: var(--acid-1);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--acid-1);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--acid-3);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--acid-3);
  font-weight: bold;
  text-decoration: none;
}


/* Buttons */

/* Typography */

body {
  font-family: var(--font-primary);
  color: var(--magicianscloak-1);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

p {
  font-size: 1em;
}

tr:nth-child(even) {
 
  background-color: var(--merlinsbeard-1);
}

/* Logos and Icons */

/* Colors */

.booty {
  color: var(--elixir-2);
}

.riches {
  color: var(--acid-2);
}

.error{

  color: var(--error-red)
}

.success{

  color: var(--success-green)
}


.fadeout{
opacity:0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1050ms;
}

.fadein{
  opacity:1;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1050ms;
  }