
/* Links */

a {
  color: var(--acid-1);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--acid-1);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--acid-3);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--acid-3);
  font-weight: bold;
  text-decoration: none;
}

/* Buttons */

/* Typography */

body {
  font-family: var(--font-primary);
  color: var(--magicianscloak-1);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

p {
  font-size: 1em;
}

tr:nth-child(even) {
 
  background-color: var(--merlinsbeard-1);
}

/* Logos and Icons */

/* Colors */

.booty {
  color: var(--elixir-2);
}

.riches {
  color: var(--acid-2);
}

.error{

  color: var(--error-red)
}

.success{

  color: var(--success-green)
}


/* Component class */

/* card */
.card-top{
  --tw-bg-opacity: 1;
  background-color: rgba(229,231,235,var(--tw-bg-opacity));
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  }
 
.card-title{
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  }
 
.card-bottom{
  --tw-bg-opacity: 1;
  background-color: rgba(243,244,246,var(--tw-bg-opacity));
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}


/* button */

a.btn-primary{
 color:var(--merlinsbeard-1);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 3rem 1rem 3rem;
  background-image: linear-gradient(to right, #6331FD, #3F18B4);
  border-radius: 0.375rem;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  transition-duration: .5s;
}

a.btn-disabled{
  background-color: var(--merlinsbeard-3);
  color: var(--merlinsbeard-4);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.375rem;
}

a.btn-icon{
  border: 1px solid rgb(99, 49, 253);
  background-color:var(--merlinsbeard-1);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.25rem;
}


/* Colors style */
.colorswatch, .doanddont{
  position: relative;
  width:12rem;
  height: 6em;
  border-radius: 0.5rem;
  margin-right: 2.5rem;
  margin-bottom:1rem;
  transition: transform 250ms, -webkit-transform 250ms;
}

.txt-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:700;
}

.bg-gradient{
background-image: linear-gradient(to right, #6331FD, #3F18B4);
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  transition-duration: .5s;
}

/***************** Hove Color swatch*****************/
.colorswatch:hover{
  cursor:pointer;
  border-radius: 0.5rem;
  transform:scale(1.1);
  opacity:1;
}
/* 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #54555a;
} */

/* .txt-copy{
  color: #99157c;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:1;
} */